body {
  scroll-behavior: smooth;
  background-color: #1f1920;
}
.k-video-hov {
  transition: transform 0.62s ease;
}
.k-video-hov:hover {
  transform: scale(1.43);
  transition: transform 0.42s 1s ease;
  z-index: 4 !important;
}
@media screen and (min-width: 320px) and (max-width: 960px) {
  .k-video-hov:hover {
    transform: scale(1);
  }
}
.k-text-twoline {
  height: 3em;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.k-height-2em {
  height: 2em;
}
.k-height-3em {
  height: 3em;
}
.k-text-ellipsis {
  text-overflow: ellipsis;
}
.k-hov-display-none:hover {
  display: none;
}
.k-hov-display-block:hover {
  display: block;
}
.k-hov-display-inline:hover {
  display: inline;
}
.k-box-sizing {
  box-sizing: border-box;
}
.k-box-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.k-display-block {
  display: block;
}
.k-display-none {
  display: none;
}
.k-display-contents {
  display: contents;
}
.k-display-inblock {
  display: inline-block;
}
.k-display-inline {
  display: inline;
}
.k-display-flex-center {
  display: flex;
  justify-content: center;
}
.k-display-flex-between {
  display: flex;
  justify-content: space-between;
}
.k-display-flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.k-display-flex-around {
  display: flex;
  justify-content: space-around;
}
.k-display-flex {
  display: flex;
}
.k-flex-items-center {
  display: flex;
  align-items: center;
}
.k-flex-items-strech {
  display: flex;
  align-items: strech;
}
.k-flex-nowrap {
  flex-wrap: nowrap;
}
.k-flex-wrap {
  flex-wrap: wrap;
}
.k-display-grid {
  display: grid;
}
.k-pointer-disabled {
  pointer-events: none;
}
.k-cursor-pointer {
  cursor: pointer;
}
.k-cursor-default {
  cursor: default;
}
.k-ov-hidden {
  overflow: hidden;
}
.k-ov-auto {
  overflow: auto;
}
.k-relative {
  position: relative;
}
.k-absolute {
  position: absolute;
}
.k-float-left {
  float: left;
}
.k-transform-xn5 {
  transform: translateX(-50%);
}
.k-transform-x5 {
  transform: translateX(50%);
}
.k-transform-y5 {
  transform: translateX(50%);
}
.k-transform-yn5 {
  transform: translateY(-50%);
}
.k-t-50p {
  top: 50%;
}
.k-r-50p {
  right: 50%;
}
.k-b-50p {
  bottom: 50%;
}
.k-l-50p {
  left: 50%;
}
.k-fixed {
  position: fixed;
}
.k-sticky {
  position: sticky;
}
.k-r0 {
  right: 0;
}
.k-t0 {
  top: 0;
}
.k-l0 {
  left: 0;
}
.k-b0 {
  bottom: 0;
}
.k-r-10 {
  right: 10px;
}
.k-t-10 {
  top: 10px;
}
.k-l-10 {
  left: 10px;
}
.k-b-10 {
  bottom: 10px;
}
.k-r-20 {
  right: 20px;
}
.k-t-20 {
  top: 20px;
}
.k-l-20 {
  left: 20px;
}
.k-b-20 {
  bottom: 20px;
}
.k-r-30 {
  right: 30px;
}
.k-t-30 {
  top: 30px;
}
.k-l-30 {
  left: 30px;
}
.k-b-30 {
  bottom: 30px;
}
.k-r-40 {
  right: 40px;
}
.k-t-40 {
  top: 40px;
}
.k-l-40 {
  left: 40px;
}
.k-b-40 {
  bottom: 40px;
}
.k-r-50 {
  right: 50px;
}
.k-t-50 {
  top: 50px;
}
.k-t-60 {
  top: 60px;
}
.k-l-50 {
  left: 50px;
}
.k-b-50 {
  bottom: 50px;
}
.k-r-n10 {
  right: -10px;
}
.k-t-n10 {
  top: -10px;
}
.k-l-n10 {
  left: -10px;
}
.k-b-n10 {
  bottom: -10px;
}
.k-r-n20 {
  right: -20px;
}
.k-t-n20 {
  top: -20px;
}
.k-l-n20 {
  left: -20px;
}
.k-b-n20 {
  bottom: -20px;
}
.k-r-n30 {
  right: -30px;
}
.k-t-n30 {
  top: -30px;
}
.k-l-n30 {
  left: -30px;
}
.k-b-n30 {
  bottom: -30px;
}
.k-r-n40 {
  right: -40px;
}
.k-t-n40 {
  top: -40px;
}
.k-l-n40 {
  left: -40px;
}
.k-b-n40 {
  bottom: -40px;
}
.k-r-n50 {
  right: -50px;
}
.k-t-n50 {
  top: -50px;
}
.k-l-n50 {
  left: -50px;
}
.k-b-n50 {
  bottom: -50px;
}
.k-no-margin {
  margin: 0 !important;
}
.k-no-padding {
  padding: 0 !important;
}
.k-zindex-n1 {
  z-index: -1 !important;
}
.k-zindex-n2 {
  z-index: -2 !important;
}
.k-zindex-n3 {
  z-index: -3 !important;
}
.k-zindex-n4 {
  z-index: -4 !important;
}
.k-zindex-n5 {
  z-index: -5 !important;
}
.k-zindex-1 {
  z-index: 1 !important;
}
.k-zindex-2 {
  z-index: 2 !important;
}
.k-zindex-3 {
  z-index: 3 !important;
}
.k-zindex-4 {
  z-index: 4 !important;
}
.k-zindex-5 {
  z-index: 5 !important;
}
.k-zindex-100 {
  z-index: 100 !important;
}
.k-zindex-n100 {
  z-index: -100 !important;
}
.k-full-screen {
  width: 100vw;
  height: 100vh;
}
.k-full-screen-width {
  width: 100vw;
}
.k-full-screen-height {
  height: 100vh;
}
.k-full-screen-minw {
  min-width: 100vw;
}
.k-full-screen-minh {
  min-height: 100vh;
}
.k-full-width {
  width: 100%;
}
.k-full-height {
  height: 100%;
}
.k-full-percent {
  width: 100%;
  height: 100%;
}
.k-full-min-width {
  min-width: 100%;
}
.k-full-min-height {
  min-height: 100%;
}
.k-width-percent-10 {
  width: 10%;
}
.k-width-percent-20 {
  width: 20%;
}
.k-width-percent-30 {
  width: 30%;
}
.k-width-percent-40 {
  width: 40%;
}
.k-width-percent-50 {
  width: 50%;
}
.k-width-percent-60 {
  width: 60%;
}
.k-width-percent-70 {
  width: 70%;
}
.k-width-percent-80 {
  width: 80%;
}
.k-width-percent-90 {
  width: 90%;
}
.k-heigh-percent-10 {
  height: 10%;
}
.k-heigh-percent-20 {
  height: 20%;
}
.k-heigh-percent-30 {
  height: 30%;
}
.k-heigh-percent-40 {
  height: 40%;
}
.k-heigh-percent-50 {
  height: 50%;
}
.k-heigh-percent-60 {
  height: 60%;
}
.k-heigh-percent-70 {
  height: 70%;
}
.k-heigh-percent-80 {
  height: 80%;
}
.k-heigh-percent-90 {
  height: 90%;
}
.k-link-no-decoration {
  text-decoration: none;
}
.k-opacity-0 {
  opacity: 0;
}
.k-opacity-1 {
  opacity: 0.1;
}
.k-opacity-2 {
  opacity: 0.2;
}
.k-opacity-3 {
  opacity: 0.3;
}
.k-opacity-4 {
  opacity: 0.4;
}
.k-opacity-5 {
  opacity: 0.5;
}
.k-opacity-6 {
  opacity: 0.6;
}
.k-opacity-7 {
  opacity: 0.7;
}
.k-opacity-8 {
  opacity: 0.8;
}
.k-opacity-9 {
  opacity: 0.9;
}
.k-opacity-10 {
  opacity: 1;
}
.k-hov-opacity-1:hover {
  opacity: 0.1;
}
.k-hov-opacity-2:hover {
  opacity: 0.2;
}
.k-hov-opacity-3:hover {
  opacity: 0.3;
}
.k-hov-opacity-4:hover {
  opacity: 0.4;
}
.k-hov-opacity-5:hover {
  opacity: 0.5;
}
.k-hov-opacity-6:hover {
  opacity: 0.6;
}
.k-hov-opacity-7:hover {
  opacity: 0.7;
}
.k-hov-opacity-8:hover {
  opacity: 0.8;
}
.k-hov-opacity-9:hover {
  opacity: 0.9;
}
.k-hov-opacity-10:hover {
  opacity: 1;
}
.k-back-black-1 {
  background-color: #1f1920;
}
.k-back-black-2 {
  background-color: #030607;
}
.k-back-white-1 {
  background-color: #e3eee7;
}
.k-back-white-2 {
  background-color: #ffffff;
}
.k-back-red-1 {
  background-color: #ff0000;
}
.k-back-green-1 {
  background-color: #00ff0d;
}
.k-back-blue-1 {
  background-color: #1100ff;
}
.k-back-purple-1 {
  background-color: #ae00ff;
}
.k-back-yellow-1 {
  background-color: #fffb00;
}
.k-font-white-1 {
  color: #eaeaf0;
}
.k-font-white-2 {
  color: #d8d4e2;
}
.k-font-white-3 {
  color: #d8d7f0;
}
.k-font-black-1 {
  color: #100c13;
}
.k-font-black-2 {
  color: #1d1d1f;
}
.k-font-black-3 {
  color: #313033;
}
.k-font-black-4 {
  color: #454546;
}
.k-line-height-1p1em {
  line-height: 1.1em;
}
.k-line-height-p9em {
  line-height: 0.9em;
}
.k-line-height-p8em {
  line-height: 0.8em;
}
.k-line-height-p7em {
  line-height: 0.7em;
}
.k-line-height-p6em {
  line-height: 0.6em;
}
.k-font-size-12 {
  font-size: 12px;
}
.k-font-size-13 {
  font-size: 13px;
}
.k-font-size-14 {
  font-size: 14px;
}
.k-font-size-15 {
  font-size: 15px;
}
.k-font-size-16 {
  font-size: 16px;
}
.k-font-size-17 {
  font-size: 17px;
}
.k-font-size-18 {
  font-size: 18px;
}
.k-font-size-19 {
  font-size: 19px;
}
.k-font-size-20 {
  font-size: 20px;
}
.k-font-size-21 {
  font-size: 21px;
}
.k-font-size-22 {
  font-size: 22px;
}
.k-font-size-23 {
  font-size: 23px;
}
.k-font-size-24 {
  font-size: 24px;
}
.k-font-style-i {
  font-style: italic;
}
.k-font-family-github {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
.k-font-family-apple {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.k-font-family-jianshu {
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.k-font-family-miui {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
.k-font-family-bilibili {
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: hsla(0, 0%, 4%, 0);
}
::selection {
  background-color: #000000;
  color: #1cbbff;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(150, 150, 150, 0.527);
  transition: all 0.2s;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 175, 27, 0.904);
}
